<div flex = 33 id="container">
  <h1>{{ title }}</h1>
  <p>Complete el formulario con su solicitud.</p>
  <p><strong>Imprescindible saber :</strong></p>
  <p><strong>PARA PRESENTAR ESTE CRÉDITO ES REQUISITO INDISPENSABLE HABER CUMPLIMENTADO UN CURSO DE EMPRENDEDURISMO, A SABER:</strong></p>  
  <ul>
  <li>El curso dictado por el Banco de la Gente, en forma PRESENCIAL en el año 2020 o anteriores, ya sea en la Sede de Juan B. Justo al 3600 o en los distintos COMCAL y CEDER del interior provincial.
  </li>
  <li>El curso de emprendedurismo dictado en forma VIRTUAL por la Dirección de Formación Profesional perteneciente al Ministerio del Empleo y la Economía Familiar.
  </li>
  <li>Si no a cumplimentado ninguno de ellos, deberá comunicarse al Banco de la Gente, para averiguar por nuevos  a dictarse a los teléfonos 4322934 o 4322935, por whatsapp al teléfono 3516501418 o por e mail a la dirección bancodelagente@cba.gov.ar
  </li>
  <li>Si realizo el curso en cualquiera de las dos modalidades, deberá adjuntar la constancia de haberlo finalizado. Sin la constancia  no se considerará la solicitud, es requisito indispensable.
  </li>
  </ul>
  <p><strong>Además, tener en cuenta  : </strong></p>
  <ul>
  <li>Éste formulario como la documentación  que se les solicite agreguen adjunta deben estar completa para poder evaluar la solicitud.
  </li>
    <li>El/la solicitante como el/la garante deben ser personas hábiles mayores de edad (18 años cumplidos) y hasta 70 años.</li>
  <li>Solicitante, su grupo familiar y garante, No deben tener deudas vencidas de créditos otorgados por del Gobierno de la Provincia de Córdoba.</li>
  <li>Tanto el titular como el garante deben tener domicilio dentro de la Provincia de Córdoba.</li>
  <li>Solicitante y garante deben poseer  CIDI nivel 2 para ser beneficiario del Crédito. Más info</li>
  <li>Se otorga un crédito por grupo familiar.</li>
  <li>Un garante no puede ser solicitante de otro crédito ni garante de otro crédito.</li>
  <li>El solicitante debe debe ser titular de una Cuenta de Caja de Ahorro</li>
</ul>
  <form [formGroup]="form" >
    <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options"></formly-form>
      
    
    <h1>Conjuntamente al formulario generado en esta página, usted deberá adjuntar lo siguiente:</h1>
    <h2>Solicitante</h2>
    <ul>
      <li>Imagen/Foto del DNI (frente y dorso) del solicitante, del cónyuge o conviviente.</li>
      <li>Imagen/Foto de impuesto o servicio actualizada, donde conste su domicilio real (Impuesto Inmobiliario Provincial o Municipal, Luz, Agua, Gas, Tel. fijo, TV cable, sin excepción).</li>
      <li>Constancia de finalización de curso de emprendedurismo.</li>
      <li>•	Podrá agregar una imagen con los cálculos numéricos del emprendimiento , según se le expresó en la parte  “Informe sobre el emprendimiento“</li>
    </ul>
    <h2>Garante</h2>
    <ul>
      <li>Imagen/Foto del DNI (frente y dorso) del garante y su cónyuge o conviviente.</li>
      <li>Imagen/Foto de impuesto o servicio actualizada, donde conste domicilio real (Impuesto Inmobiliario Provincial o Municipal, Luz, Agua, Gas, Tel. fijo, TV cable, sin excepción).</li>
      <li>Imagen/Foto del último recibo de sueldo con antigüedad mayor a 3 meses (donde no figuren embargos ni descuentos por pago de cuota alimentaria), recibo de jubilación o certificado original de ingresos netos expedido por el Consejo Profesional de Ciencias Económicas.</li>
    </ul>

    <div flex = 33>
      <mat-card>
      <p><button type="button" mat-raised-button color="primary" (click)="createPdf()" [disabled]="!form.valid">Generar Formulario de solicitud de crédito en PDF</button></p>
      <p>El documento PDF descargado y la documentación mencionada deberá ingresarla en
      <a href="https://fid.cba.gov.ar/ee-fid-multinota/multinota/#/form/FID/MNOTA_OTRO?reparticion=SEPE01">Mesa de entrada e-tramites </a></p>
    </mat-card>
    </div>
    <p>bancodelagente@cba.gov.ar</p> 

  </form>
  
 <pre>
    {{model | json}}
  </pre>
